<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-left">
      &copy; 2018 - <%= config.author || config.title %>&nbsp;|&nbsp;
    </div>
     <div id="footer-right">
      <%= __('contact') %>&nbsp;|&nbsp;<%= config.email || theme.email  || config.url %>
    </div>
  </div>
</footer>
 <%- js('jquery/jquery.min.js') %>